@import 'tailwindcss';

@font-face {
	font-family: 'Rubik';
	src: url('fonts/rubik.ttf');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@layer base {
	:root {
		--background: hsl(217, 0%, 96%);
		--foreground: hsl(0, 0%, 4%);
		--border: hsl(0, 0%, 80%);
		--surface: hsl(0, 0%, 95%);
		--secondary: hsl(0, 0%, 89%);

		--primary: hsl(108, 11%, 59%);
	}

	body[data-theme='dark'] {
		--background: hsl(0, 0%, 7%);
		--foreground: hsl(217, 0%, 96%);
		--border: hsl(0, 0%, 20%);
		--surface: hsl(0, 0%, 10%);
		--secondary: hsl(0, 0%, 14%);
	}

	@theme inline {
		--color-background: var(--background);
		--color-foreground: var(--foreground);
		--color-border: var(--border);
		--color-surface: var(--surface);
		--color-primary: var(--primary);
		--color-secondary: var(--secondary);

		--font-rubik: 'Rubik';
	}

	body {
		@apply font-rubik;
		@apply min-h-screen;
		@apply bg-background text-foreground;
		@apply flex w-full flex-row;
	}

	body > div {
		@apply h-full;
	}
}

[data-button-root] {
	@apply cursor-pointer;
}

[data-dropdown-menu-content] {
	@apply p-2 bg-surface rounded;
	@apply border border-border;
	@apply shadow;
}

.panel {
	@apply rounded border border-border bg-surface p-4;
}

.interactive-primary {
	@apply bg-primary/85 hover:bg-primary/95 active:bg-primary;
}

.interactive-secondary {
	@apply bg-secondary/85 hover:bg-secondary/95 active:bg-secondary;
}
